body {
  height: 100vh;
  width: 100vw;
}

p, h1, h2, h3, h4, h5, h6, a{
  color: white;
}

#root{
  height: 100%;
  width: 100%;
}

.main-container {
  background-color: #696B6A;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav{
  margin: 4rem 6.563rem; 
}

.logo-box{
  max-height: 17.75rem;
  max-width: 51.875rem;
  position: relative;
}

.logo{
  position: relative;
  height: 100%;
  width: 100%;
}

.content{
  display: flex;
  margin: 1rem 6.563rem;
  flex-direction: row;
  max-width: 60rem;
  justify-content: space-between;
}

.content-left-column{
  display: flex;
  position: relative;
  width: 100%;
}

.content-right-column{
  display: flex;
  justify-content: flex-end;
}

.link{
  color: white;
  font-weight: 500;
  position: relative;

}

.user-group{
  max-width: 18rem;
}